@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.btn {
  background: none;
  border: 2px solid black;
  padding: 6px 12px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.btn:hover {
  border: 2px solid white;
  background: aquamarine;
  color: #fff;
}
